body {
  background-color: var(--bg);
}
h1 {
  font-family: "Averia Sans Libre";
  font-size: 3rem;
  color: var(--fg_alt);
  text-align: center;
  padding-bottom: 1rem;
}

p {
  color: var(--fg_alt);
  font-family: "Instrument Serif";
  font-size: 1.2rem;
  padding: 0.8rem 0rem 2rem 0rem;
}

h2 {
  font-family: "Averia Sans Libre";
  font-size: 2.1rem;
  color: var(--fg_alt);
}

.image-content img {
  border: 3px solid var(--border);
}

.contact-container {
  padding: 7rem 1rem 2rem 1rem;
}
@media (min-width: 900px) {
  .contact-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    max-width: 1100px;
    gap: 2rem;
    margin: auto;
    align-items: start;
    padding-top: 10rem;
  }
  .text-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media (min-width: 1000px) {
  .contact-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    max-width: 1300px;
    gap: 2rem;
    align-items: start;
    margin-bottom: 3rem;
  }
  .text-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .image-content {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
  }
}
