main {
  width: 100vw;
  background-color: var(--bg);
  background-image: url("../imgs/index/illustrationtable_mobil.svg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-y: -50px;
}

h1 {
  font-family: "Averia Sans Libre", sans;
  text-transform: uppercase;
  font-size: 3rem;
  margin: 15px;
  color: var(--fg_alt);
  text-align: center;
}

h2 {
  font-family: "Instrument Serif", serif;
  font-size: 22px;
  padding: 0 20px;
  line-height: 125%;
}

h3 {
  font-family: "Averia Sans Libre", sans;
  font-size: 30px;
  padding: 0 20px;
}

ul {
  padding-top: 12px;
  padding-left: 38px;
}

.rating {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 100%;
}

.rating img {
  width: 10%;
  height: auto;
}

.div_1 {
  border-top: 3px solid var(--border);
  border-left: 3px solid var(--border);
  border-right: 3px solid var(--border);
  padding-top: 20px;
  padding-bottom: 20px;
}

.div_2 {
  border-top: 3px solid var(--border);
  border-left: 24px solid var(--border);
  border-right: 24px solid var(--border);
  margin-right: -21px;
  margin-left: -21px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.div_3 {
  border-top: 3px solid var(--border);
  border-left: 24px solid var(--border);
  border-right: 24px solid var(--border);
  margin-right: -21px;
  margin-left: -21px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.div_4 {
  border-left: 24px solid var(--border);
  border-right: 24px solid var(--border);
  border-bottom: 24px solid var(--border);
  margin-right: -21px;
  margin-left: -21px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.productContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10vh 10vw 0 10vw;
}

.image_container {
  place-self: center;
  border: 3px solid var(--darkblue);
  width: 80%;
}

.image_desktop {
  display: none;
}

.arrow {
  display: none;
}

.productDetails {
  display: flex;
  flex-direction: column;
  border: 3px solid var(--darkblue);
  padding-top: 3vh;
}

.productInfo {
  margin: 5px 0 10px 0;
}

@media (min-width: 800px) {
  main {
    background-image: url("../imgs/index/illustrationtable.svg");
    background-attachment: scroll;
    height: auto;
    background-position: top;
    background-position-y: unset;
    background-repeat: repeat;
  }

  .productContainer {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 20vh;
    padding-bottom: 20vh;
    margin: 0 5vw 0 5vw;
    justify-content: space-between;
  }

  h1 {
    font-size: 4rem;
    margin: 0;
    text-align: left;
  }

  .image_container {
    display: none;
  }

  .desktop_container {
    display: flex;
    flex-direction: row-reverse;
    gap: 100px;
  }

  .image_desktop {
    margin-top: 25px;
    display: block;
    place-self: start;
    border: 3px solid var(--darkblue);
    width: 40%;
  }

  .arrow_container {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .arrow {
    display: block;
    width: 60px;
    height: auto;
    place-self: start;
    margin-top: 25px;
  }

  .info_container {
    display: flex;
    flex-direction: column;
  }

  .shadow {
    margin-top: 60px;
    box-shadow: 35px -35px var(--shadow);
    background-color: var(--bg);
  }

  .div_2 {
    border-top: 3px solid var(--border);
    border-left: 3px solid var(--border);
    border-right: 3px solid var(--border);
    margin-right: 0;
    margin-left: -0;
  }

  .div_3 {
    border-top: 3px solid var(--border);
    border-left: 3px solid var(--border);
    border-right: 3px solid var(--border);
    margin-right: 0;
    margin-left: 0;
  }

  .div_4 {
    border-left: 3px solid var(--border);
    border-right: 3px solid var(--border);
    border-bottom: 3px solid var(--border);
    margin-right: 0;
    margin-left: 0;
  }

  .rating {
    justify-self: center;
    line-height: 200%;
  }
}
